@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HB-A:肥宅</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <!--
    <div id="header">
        <h1><a href="~/image/logo.jpg">HB-A</a>肥宅</h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="register.cshtml" class="register">Register</a></li>
                <li><a href="Login.cshtml" class="button">Log in</a></li>
            </ul>
        </nav>
    </div>
        -->
    <div id="main">
        <div class="search-box">
            <form name="search_form" method="get" class="search_form" asp-controller="Animations" asp-action="Index">
                <input id="search" type="text" />
                <input type="submit" id="search-button" value="搜索" />
            </form>
        </div>
    </div>
    <div id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; HB-A. All rights reserved.</li>
        </ul>
    </div>
</body>
</html>
<!--<form asp-controller="Animations" asp-action="Index">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>-->
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<!--
<p>
    <a asp-controller="Animations" asp-action="Create">Create New</a>
</p>  -->
